@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@font-face {
  font-family: "montserrat";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/montserrat/Montserrat-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "budge";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/Budge-Regular.otf") format("opentype");
}

@font-face {
  font-family: "nil-jannati";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/nil-jannati/nill-jannati-matra-bijoy52.ttf")
    format("truetype");
}

body {
  color: rgb(var(--foreground-rgb));
  font-family: "montserrat";
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .text_heading {
  }

  .text_subheading {
    font-weight: 500;
    font-size: 1.25rem /* 20px */;
    line-height: 1.75rem /* 28px */;
  }

  .text_body {
  }

  .text_tiny {
  }

  .mb_akm {
    margin-bottom: 0.75rem /* 12px */;
  }
  .mt_akm {
    margin-top: 0.75rem /* 12px */;
  }

  .text_black {
    color: #1f2937;
  }

  .bg_green {
    background-color: #004225;
  }
  .bg_beige {
    background-color: #f5f5dc;
  }

  .bg_orange {
    background-color: #ffb000;
  }

  .bg_light_orange {
    background-color: #ffcf9d;
  }
}
