@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@font-face {
  font-family: "montserrat";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/montserrat/Montserrat-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "bebas";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/bebas_neue/BebasNeue-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "poppins";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/poppins/Poppins-Regular.ttf") format("truetype");
}

/* @font-face {
  font-family: "budge";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/Budge-Regular.otf") format("opentype");
} */

@font-face {
  font-family: "nil-jannati";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/nil-jannati/nill-jannati-matra-bijoy52.ttf")
    format("truetype");
}

body {
  color: rgb(var(--foreground-rgb));
  font-family: "montserrat";
}

#tawk_2_branding {
  display: none !important;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .text_black {
    color: #333333;
  }

  .bg_green {
    background-color: #004225;
  }

  .text_green {
    color: #004225;
  }

  .text_white {
    color: #f4f4f4;
  }

  .text_grey {
    @apply text-gray-500;
  }

  .bg_beige {
    background-color: #f5f5dc;
  }

  .bg_orange {
    background-color: #ffb000;
  }

  .bg_light_orange {
    /* Puzzler */
    /* background-color: blue; */
    background-color: #ffcf9d;
  }
}
.h1_akm {
  @apply text-2xl sm:text-2xl lg:text-3xl py-4 lg:py-6 font-bold;
}

.h2_akm {
  @apply text-lg sm:text-xl md:text-2xl lg:text-2xl xl:text-2xl font-semibold;
}

.h3_akm {
  @apply text-lg sm:text-lg md:text-lg lg:text-xl xl:text-xl;
}

.h4_akm {
  @apply text-xs lg:text-sm;
}

.h4info_akm {
  @apply text-xs text-gray-500 lg:text-sm;
}

.pad_akm {
  @apply p-2 sm:p-2 md:p-3 lg:p-4 xl:p-4;
}

.py_akm {
  @apply py-2 sm:py-2 md:py-3 lg:py-4;
}

.px_akm {
  @apply px-2 sm:px-2 md:px-3 lg:px-4;
}

.pl_akm {
  @apply pl-2 sm:pl-2 md:pl-3 lg:pl-4;
}

.pr_akm {
  @apply pr-2 sm:pr-2 md:pr-3 lg:pr-4;
}

.pt_akm {
  @apply pt-2 sm:pt-2 md:pt-3 lg:pt-4;
}

.pb_akm {
  @apply pb-2 sm:pb-2 md:pb-3 lg:pb-4;
}

.ml_akm {
  @apply ml-4 md:ml-6;
}

.mb_akm {
  @apply mb-6;
}

.mt_akm {
  @apply mt-2;
}

.mx_akm {
  @apply mx-6;
}

.my_akm {
  @apply my-4 md:my-6;
}

.my3_akm {
  @apply mt-3 mb-3;
}

.gap_akm {
  @apply gap-2;
  @apply md:gap-4;
}

.shadow_akm {
  @apply shadow-md;
}

.shadow_inner_akm {
  box-shadow: inset 0 4px 6px rgba(0, 0, 0, 0.1);
}

.shadow_text_akm {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.shadow_text_white_akm {
  text-shadow: 2px 2px 4px rgba(243, 243, 243, 0.9);
}

.rounded_akm {
  @apply rounded-2xl;
  @apply md:rounded-3xl;
}

.rounded_top_akm {
  @apply rounded-t-3xl;
}

.card_akm {
  @apply bg-gray-50   shadow_akm rounded_akm;
}

.breakup_akm {
  @apply flex flex-col items-center justify-center md:flex md:flex-row gap_akm;
}

/* ANIMATIONS */

@keyframes slideUp {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}

.slide-up {
  animation: slideUp 0.2s ease-out;
}

/* SHAKE NOTIF BELL */

@keyframes shake_bell {
  0% {
    transform: rotate(0deg);
  }
  20% {
    transform: rotate(-15deg);
  }
  40% {
    transform: rotate(15deg);
  }
  60% {
    transform: rotate(-15deg);
  }
  80% {
    transform: rotate(15deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.shake_bell {
  display: inline-block;
  animation: shake_bell 0.5s ease-in-out forwards;
}
