@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@font-face {
  font-family: "montserrat";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/montserrat/Montserrat-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "budge";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/Budge-Regular.otf") format("opentype");
}

@font-face {
  font-family: "nil-jannati";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/nil-jannati/nill-jannati-matra-bijoy52.ttf")
    format("truetype");
}

body {
  color: rgb(var(--foreground-rgb));
  font-family: "montserrat";
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .text_black {
    color: #1f2937;
  }

  .bg_green {
    background-color: #004225;
  }
  .bg_beige {
    background-color: #f5f5dc;
  }

  .bg_orange {
    background-color: #ffb000;
  }

  .bg_light_orange {
    background-color: #ffcf9d;
  }
}

.h1_akm {
  @apply text-2xl sm:text-2xl lg:text-3xl;
  @apply py-4 lg:py-6;
  @apply font-bold;
}

.h2_akm {
  @apply text-lg font-semibold;
  @apply sm:text-xl;
  @apply md:text-2xl;
  @apply lg:text-2xl;
  @apply xl:text-2xl;
}

.h3_akm {
  @apply text-lg;
  @apply sm:text-lg;
  @apply md:text-lg;
  @apply lg:text-xl;
  @apply xl:text-xl;
}

.h4_akm {
  @apply text-xs;
  @apply lg:text-sm;
}
.h4info_akm {
  @apply text-xs text-gray-500;

  @apply lg:text-sm;
}

.pad_akm {
  @apply p-2;
  @apply sm:p-2;
  @apply md:p-3;
  @apply lg:p-4;
  @apply xl:p-4;
}

.py_akm {
  @apply py-2;
  @apply sm:py-2;
  @apply md:py-3;
  @apply lg:py-4;
}

.px_akm {
  @apply px-2;
  @apply sm:px-2;
  @apply md:px-3;
  @apply lg:px-4;
}

.pl_akm {
  @apply pl-2;
  @apply sm:pl-2;
  @apply md:pl-3;
  @apply lg:pl-4;
}

.pr_akm {
  @apply pr-2;
  @apply sm:pr-2;
  @apply md:pr-3;
  @apply lg:pr-4;
}

.pb_akm {
  @apply pb-2;
  @apply sm:pb-2;
  @apply md:pb-3;
  @apply lg:pb-4;
}

.mb_akm {
  @apply text-xl mb-6 font-semibold text-center;
  /* @apply sm:text-xl;
  @apply md:text-xl;
  @apply lg:text-xl;
  @apply xl:text-xl; */
}

.mt_akm {
  @apply mt-2;
  /* @apply sm:text-xl;
  @apply md:text-xl;
  @apply lg:text-xl;
  @apply xl:text-xl; */
}

.mx_akm {
  @apply mx-6;
}

.my_akm {
  @apply mx-6;
}

.my3_akm {
  @apply mt-3 mb-3;
}

.gap_akm {
  @apply gap-2;
  /* @apply sm:px-2;
  @apply md:px-3;
  @apply lg:px-4;
  @apply xl:px-6; */
}

.shadow_akm {
  @apply shadow-md;
}
.rounded_akm {
  @apply rounded-3xl;
}

.card_akm {
  @apply bg-gray-50   shadow_akm rounded_akm;
}
